.buttonWrapper {
    width: 100%;
}

.defaultButtonStyle {
    border: 2px solid var(--night);
    cursor: pointer;
    position: relative;
    transition: all 0.1s ease-in;
    margin: 0.5em auto;
    display: block;

    & h1 {
        margin: 0.1em 0.5em 0.1em 0.5em;
        font-family: 'Space Mono', monospace !important;
        font-size: 1.5em !important;
        font-weight: normal;
        position: relative;
        top: 0;
        transition: all 0.1s ease-in-out;
    }

    &:hover h1 {
        top: 2px;
    }
}

.whiteButton {
    background-color: var(--platinum);
    & h1 {
        color: var(--night);
    }

    &::after {
        background: var(--platinum);
    }
}

.redButton {
    background-color: var(--red);
    & h1 {
        color: var(--night);
    }

    &::after {
        background: var(--red);
    }
}

.blueButton {
    background-color: var(--blue);
    & h1 {
        color: var(--night);
    }

    &::after {
        background: var(--blue);
    }
}